
:root {
  --primary-bg-color: rgb(16, 6, 61);
  --primary-color: #ffffff;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.note {
  background-color: var(--primary-bg-color) ;
  padding: 5px;
  text-align: center;
  color: white;
}

/* Header */
header {
  padding: 60px;
  text-align: center;
  background-image: linear-gradient(to left, rgb(124, 238, 191), rgb(126, 156, 253));
  color: white;
}

/* this is button line for profil photo */
.container-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-img:hover .image {
  opacity: 0.3;
  border-radius: 50%;

}

.container-img:hover .middle {
  opacity: 1;
}

/* start container-skills */

/* end container-skills */

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* End this is button line for profil photo */
/* Start accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 16px 16px 0px 0px;
  
}
.accordion.active{
 background-color: var(--primary-bg-color);
 color: var(--primary-color);
 font-size: large;
 font-weight: bold;
}

.accordion:after {
  content: '\02795';
  /* plus */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  
  /* minus */
}

.active,
.accordion:hover {
 background-color: var(--primary-bg-color);
 color: var(--primary-color);
 font-size: large;
 font-weight: bold;
}
.panel {
  background-image: linear-gradient(to left, rgb(124, 238, 191), rgb(126, 156, 253));
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 10px 10px 5px rgb(164, 172, 173);
  border-radius: 0px 0px 16px 16px;

  /* --- Transition Smooth --- */
  max-height: 0;
  transition: max-height 0.3s ease;
  padding: 0 20px;
  /* padding atas-bawah dihilangkan dulu */
}

.panel.show {
  max-height: 2220px;
  /* besar nilai cukup besar agar muat konten */
  padding: 20px;
}

.accordion-programming {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  display: block;
  margin-top: 5px;
  border-radius: 16px 16px 0px 0px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.accordion-programming.active {
  background-color: rgba(190, 238, 79, 0.945);
  color: black;
  font-size: medium;
  font-weight: bold;
}


/* IKON KIRI - Float ke Kiri */
.accordion-programming::before {
  content: '\1F4C1';
  /* 📁 Folder */
  float: left;
  /* Kunci ke sisi Kiri */
  margin-right: 10px;
  padding-top: 2px;
  /* Kadang perlu tweak manual agar sejajar teks */
}

/* IKON KANAN - Float ke Kanan */
.accordion-programming::after {
  content: '\02795';
  /* ➕ Plus */
  float: right;
  /* Kunci ke sisi Kanan */
  color: #777;
  font-size: 13px;
  margin-left: 5px;
  padding-top: 2px;
  /* Tweak manual posisi vertikal */
}
.accordion-programming:hover {
  background-color: rgba(190, 238, 79, 0.945);
  color: black;
  font-size: medium;
  font-weight: bold;
}

/* IKON KANAN - Saat Active, ubah menjadi Minus */
.accordion-programming.active::after {
  content: '\2796';
  /* ➖ Minus (atau '\2212' untuk tanda kurang sederhana) */
}

.panel-programming {
  background-image: linear-gradient(to right, rgb(167, 235, 161), rgb(195, 234, 250));
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 10px 10px 5px rgb(164, 172, 173);
  border-radius: 0px 0px 16px 16px;
  /* --- Transition Smooth --- */
  max-height: 0;
  transition: max-height 0.3s ease;

}

.panel-programming.show-programming {
  max-height: 1000px;
  /* cukup besar untuk menampung konten */
  padding: 20px;
}

/* End accordion */
/*  this is button line for skill */
.skills {
  width: 0%;
  background-color: #ddd;
  border-radius: 16px;
  height: 30px;
  line-height: 40px;
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.skill-text {
  position: absolute;
  right: -50px;  /* Menempatkan teks sedikit di luar bar (di sebelah kanan) */
  text-align: end;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  pointer-events: none;
  color: black;
}

.skill-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 40px;
  pointer-events: none;
}


.html {
  width: 90%;
  background-color: red;
}

.css {
  width: 80%;
  background-color: blue;
}

/* color programming */
.js {
  width: 65%;
  background-color: #e8f40d;
}

.java {
  width: 85%;
  background-color: #f4240d;
}
.backend_java {
  width: 85%;
  background-color: #b61907;
}
.kotlin {
  width: 50%;
  background-color: rgb(202, 157, 8);
}

.python {
  width: 80%;
  background-color: #2196F3;
}

.php {
  width: 85%;
  background-color: rgb(5, 5, 119);
}

.sdlc {
  width: 95%;
  background-color: #089c00;
}

/* end color programming */
/* color data structures and algorithms */

.linux {
  width: 50%;
  background-color: #a004c7;
}
.windows {
  width: 50%;
  background-color: rgb(1, 44, 99);
}
.macos {
  width: 50%;
  background-color: rgb(3, 74, 116);
}
.android {
  width: 50%;
  background-color: rgb(5, 145, 0);
}


.linked_list {
  width: 50%;
  background-color: #aab300;
}

.stacks {
  width: 50%;
  background-color: #c01300;
}

.queues {
  width: 50%;
  background-color: #036ec5;
}

.trees {
  width: 50%;
  background-color: #2400b3;
}

.graphs {
  width: 50%;
  background-color: #2908afc2;
}

.mutlithreading_and_concurrency {
  width: 50%;
  background-color: #2908afc2;
}

.network_api_integration {
  width: 50%;
  background-color: #2908afc2;
}
.android_sdk_android_studio {
  width: 50%;
  background-color: #2908afc2;
}
.ui_ux_and_matrial_design {
  width: 50%;
  background-color: #2908afc2;
}




/* end color data structures and algorithms */
/* color frameworks and libraries */
.springboot {
  width: 50%;
  background-color:green;
}
.hibernate {
  width: 50%;
  background-color:darkgoldenrod;
}

.react {
  width: 50%;
  background-color: rgb(1, 173, 173);
}

.angular {
  width: 50%;
  background-color: rgb(224, 181, 188);
}

.django {
  width: 50%;
  background-color: #310fbc;
}
.javascript {
  width: 50%;
  background-color: rgb(150, 150, 6);
}
.nodejs {
  width: 50%;
  background-color: yellow;
}

.vuejs {
  width: 50%;
  background-color: yellowgreen;
}

/* color databases SQL and noSQL */
.mysql {
  width: 50%;
  background-color: lightblue;
}
.jdbc {
  width: 50%;
  background-color: blue;
}
.sql_and_nosql {
  width: 50%;
  background-color: blue;
}
.sql_database {
  width: 50%;
  background-color: rgb(1, 37, 37);
}
.sqllite {
  width: 50%;
  background-color:rgb(86, 86, 245);
}
.firebase {
  width: 50%;
  background-color:rgb(163, 163, 2);
}
.postgresql {
  width: 50%;
  background-color: blue;
}

.mongodb {
  width: 50%;
  background-color: green;
}

.cassandra {
  width: 50%;
  background-color: blue;
}

.redis {
  width: 50%;
  background-color: red;
}

/* end color  databases SQL and noSQL */

/* End this is button line for skill */


/* Top navigation bar */
.navbar {
  display: flex;
  background-color: var(--primary-bg-color) ;
 
}

/* Navigation bar links */
.navbar a {
  color: var(--primary-color);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-image: linear-gradient(to left, rgb(124, 238, 191), rgb(126, 156, 253));
  color: black;
}

/* Column container */
.container {
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.fakeimgpasphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background-color: var(--primary-bg-color) ;
  color: var(--primary-color);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

  .container,
  .navbar {
    flex-direction: column;
  }
}

/* cegah agar tombol windows.print() tidak ikut di export pdf */
@media print {

  .no-print,
  button {
    display: none !important;
  }
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  text-decoration: none;          
  transition: background-color 0.3s; /* efek saat hover */
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}