
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

/* Header */
header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
/* this is button line for profil photo */
.container-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
 
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-img:hover .image {
  opacity: 0.3;
  border-radius: 50%;

}

.container-img:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* End this is button line for profil photo */
/* Start accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 20px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 15px;
 
}
.accordion-programming {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion-programming:hover {
  background-color: #ccc; 
}

.panel-programming {
  padding: 20px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 15px;
 
}
/* End accordion */
/*  this is button line for skill */


.skills {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;  
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
}

.html {width: 90%; background-color: #04AA6D;}
.css {width: 80%; background-color: #2196F3;}
/* color programming */
.js {width: 65%; background-color: #e8f40d;}
.java {width: 85%; background-color: #f4240d;}
.python {width: 80%; background-color: #2196F3;}
.php {width: 85%; background-color: #0f8ebc;}
.sdlc {width: 95%; background-color: #1df212;}
/* end color programming */
/* color data structures and algorithms */
.linked_list {width: 50%; background-color: #e8f40d;}
.stacks {width: 50%; background-color: #f4240d;}
.queues {width: 50%; background-color: #2196F3;}
.trees {width: 50%; background-color: #310fbc;}
.graphs {width: 50%; background-color: #310fbc;} 
/* end color data structures and algorithms */
/* color frameworks and libraries */
.springboot {width: 50%; background-color: #e8f40d;}
.react {width: 50%; background-color: #f4240d;}
.angular {width: 50%; background-color: #2196F3;}
.django {width: 50%; background-color: #310fbc;}
.nodejs {width: 50%; background-color: #310fbc;}
.vuejs {width: 50%; background-color: #2196F3;}

/* color databases SQL and noSQL */
.mysql {width: 50%; background-color: #e8f40d;}
.postgresql {width: 50%; background-color: #f4240d;}
.mongodb {width: 50%; background-color: #2196F3;}
.cassandra {width: 50%; background-color: #310fbc;}
.redis {width: 50%; background-color: #310fbc;}

/* end color  databases SQL and noSQL */

/* End this is button line for skill */


/* Top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.container {  
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.fakeimgpasphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}
/* cegah agar tombol windows.print() tidak ikut di export pdf */
@media print {
  .no-print, button {
    display: none !important;
  }
}

