<nav>
  <ul>
    <!-- <li><a href="../docs/html/index.html" target="_self">HTML Intro</a></li>
    <li><a href="../docs/css/index.html" target="_self">CSS Intro</a></li>
    <li><a href="../docs/php/index.html" target="_self">PHP Intro</a></li>
    <li><a href="../docs/javascript/index.html" target="_self">Javascript</a></li>
    <li><a href="../playground/try-editor.html" target="_self">Try It Yourself</a></li> -->
      <aside class="sidebar">
      <h2>📚 Navigasi</h2>
      <ul>
        <li><a href="http://127.0.0.1:5500/public">Pendahuluan</a></li>
        <li><a href="http://localhost:5500/docs/html" target="_self">HTML</a></li>
        <li><a href="http://127.0.0.1:5500/docs/css" target="_self">CSS</a></li>
        <li><a href="http://127.0.0.1:5500/docs/php" target="_self">PHP</a></li>
        <li><a href="http://127.0.0.1:5500/docs/javascript" target="_self">JavaScript</a></li>
        <li><a href="http://localhost:5500/playground" target="_self">Cobalah Koding Sendiri</a></li>
      </ul>
    </aside>
  </ul>
</nav>